<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3 class="mb-3">{{ title }}</h3>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <a class="btn btn-primary mb-3 me-1" [attr.data-bs-target]="'#carouselIndicators' + getId()" data-bs-slide="prev"
                    role="button">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-primary mb-3" [attr.data-bs-target]="'#carouselIndicators' + getId()" data-bs-slide="next"
                    role="button">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div [id]="'carouselIndicators' + getId()" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">

                        <ng-content></ng-content>

                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="exploreLink" class="w-100 text-center">
            <a  class="btn btn-primary" routerLink="{{ exploreLink }}" >Explore <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
        </div>
    </div>
</section>