<div id="form-activation-div" class="container">

    <form *ngIf="category == 'studente'" class="form-signin text-center">

        <div class="text-center">
            <i class="fas fa-envelope loginlogo"></i>
            <h1 class="h3 mb-3 font-weight-normal">Account activation</h1>
        </div>

        <div class="mb-3 text-start">
            <label for="_id_scuola">School</label>

            <input list="datalistOptions" type="text" #id_scuola="ngModel" required name="denominazione_scuola"
                [(ngModel)]="school_input" class="form-control" id="_id_scuola" placeholder="Select school name"
                (ngModelChange)="filter_schools()" autocomplete="false">

            <datalist id="datalistOptions" name="school_id">
                <option *ngFor="let school of schools" (value)="school.id">
                    {{ school.denominazione }}</option>
            </datalist>
        </div>

        <div [hidden]="id_scuola.valid || id_scuola.pristine" class="alert alert-danger">
            School is required
        </div>

        <div class="mb-3 text-start">
            <label for="indirizzo_di_studio">Field of study</label>

            <select class="form-select" #indirizzo_di_studio="ngModel" required name="indirizzo_di_studio"
                [(ngModel)]="user_data['indirizzo_di_studio']" id="indirizzo_di_studio"
                placeholder="Select field of study">
                <option value="informatico">Computer science</option>
                <option value="elettronica">Electronics</option>
                <option value="elettrotecnica">Electrotechnics</option>
                <option value="meccatronica">Mechatronics</option>
                <option value="altro indirizzo tecnico">Another technical address</option>
                <option value="scientifico tradizionale">Science high school</option>
                <option value="scientifico scienze applicate">Applied sciences high school</option>
                <option value="altro indirizzo liceale">Another high school address</option>
            </select>
        </div>

        <div [hidden]="indirizzo_di_studio.valid || indirizzo_di_studio.pristine" class="alert alert-danger">
            Field of study is required
        </div>

        <div *ngIf="errormessage" class="alert alert-danger" role="alert">
            Activation error: {{errormessage}}
        </div>

        <button type="button" class="btn btn-lg btn-primary btn-block"
            [disabled]="!id_scuola.valid || !indirizzo_di_studio.valid" (click)="complete_registration();">
            Complete registration
        </button>

        <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
    </form>

    <form *ngIf="category == 'docente'" class="form-signin text-center">

        <div class="text-center">
            <i class="fas fa-envelope loginlogo"></i>
            <h1 class="h3 mb-3 font-weight-normal">Account activation</h1>
        </div>

        <div class="mb-3">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" #password="ngModel" required name="password" [(ngModel)]="user_data['password']"
                class="form-control" id="inputPassword" placeholder="Password">
        </div>

        <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
            Password is required
        </div>

        <div class="mb-3">
            <label for="descrizione_docente" class="form-label">Description</label>
            <textarea #descrizione_docente="ngModel" name="descrizione_docente"
                [(ngModel)]="user_data['descrizione_docente']" class="form-control" id="descrizione_docente"
                placeholder="Enter description..."></textarea>
        </div>

        <div class="mb-3">
            <label for="link_pagina_docente" class="form-label">Lecturer page link</label>
            <input type="text" #citta="ngModel" required name="link_pagina_docente"
                [(ngModel)]="user_data['link_pagina_docente']" class="form-control" id="link_pagina_docente"
                placeholder="Enter link">
        </div>

        <div class="mb-3">
            <label for="formFile" class="form-label">Picture profile</label>
            <input class="form-control" type="file" id="formFile" name="immagine_profilo" (change)="onFileSelected($event)">
        </div>

        <div *ngIf="errormessage" class="alert alert-danger" role="alert">
            Activation error: {{errormessage}}
        </div>

        <button type="button" class="btn btn-lg btn-primary btn-block" [disabled]="!password.valid"
            (click)="complete_teacher_registration();">
            Complete registration
        </button>

        <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
    </form>

</div>