#main-div {
    background: linear-gradient(to right, #ab1636, #c53a63);;
}

#descr {
    white-space: pre-wrap;
}

.chart-wrapper {
    height: 400px;
    width: 100%;
    min-width: 500px;
    overflow: auto;
}
