<app-top-bar></app-top-bar>
<div class="container-fluid">
    <div *ngIf="error === 'true'" class="alert alert-danger text-center" role="alert">
        <p>{{ message }}</p>
    </div>
    <div *ngIf="error === 'false'" class="alert alert-success text-center" role="alert">
        <p>{{ message }}</p>
    </div>
    <div>
        <div class="bg-image"></div>

        <div class="bg-text">
            <h1>Educational guidance Ca'Foscari</h1>
            <p>Educational guidance courses for students</p>
        </div>
    </div>

    <div class="container text-center mt-5">
        <h2>About this site</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro unde quae sapiente consectetur tempore non
            illum veniam sed deleniti inventore dolorem dolore, voluptatibus dolor aliquid nostrum doloribus commodi
            molestias eos?</p>
    </div>

    <app-carousel [title]="'New Courses'" [exploreLink]="'/courses'">
        <app-carousel-item [active]="i == 0 ? true : false" *ngFor="let i of counter(new_courses.length / 3 | ceil)">
            <app-course-card *ngIf="new_courses[i * 3]" [course]="new_courses[i * 3]"></app-course-card>
            <app-course-card *ngIf="new_courses[i * 3 + 1]" [course]="new_courses[i * 3 + 1]"></app-course-card>
            <app-course-card *ngIf="new_courses[i * 3 + 2]" [course]="new_courses[i * 3 + 2]"></app-course-card>
        </app-carousel-item>
    </app-carousel>

    <app-carousel [title]="'Popular courses'" [exploreLink]="'/courses'">
        <app-carousel-item [active]="i == 0 ? true : false" *ngFor="let i of counter(popular_courses.length / 3 | ceil)">
            <app-course-card *ngIf="popular_courses[i * 3]" [course]="popular_courses[i * 3]"></app-course-card>
            <app-course-card *ngIf="popular_courses[i * 3 + 1]" [course]="popular_courses[i * 3 + 1]"></app-course-card>
            <app-course-card *ngIf="popular_courses[i * 3 + 2]" [course]="popular_courses[i * 3 + 2]"></app-course-card>
        </app-carousel-item>
    </app-carousel>

    <app-carousel [title]="'Courses that will start shortly'" [exploreLink]="'/courses'">
        <app-carousel-item [active]="i == 0 ? true : false"
            *ngFor="let i of counter(scheduled_courses.length / 3 | ceil)">
            <app-course-card *ngIf="scheduled_courses[i * 3]" [course]="scheduled_courses[i * 3]"></app-course-card>
            <app-course-card *ngIf="scheduled_courses[i * 3 + 1]" [course]="scheduled_courses[i * 3 + 1]">
            </app-course-card>
            <app-course-card *ngIf="scheduled_courses[i * 3 + 2]" [course]="scheduled_courses[i * 3 + 2]">
            </app-course-card>
        </app-carousel-item>
    </app-carousel>

</div>