<app-top-bar></app-top-bar>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3 class="mt-3">Filter by</h3>
            <form class="mt-4" id="searchForm">
                <div class="input-group">
                    <input class="form-control" type="search" placeholder="Search title" aria-label="Search"
                        aria-describedby="button-search">
                    <button class="btn btn-outline-danger" type="button" id="button-search"><i
                            class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                <h5 class="mt-2">Lecture number:</h5>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        1
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        2
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        3
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        More...
                    </label>
                </div>
                <h5 class="mt-2">Language:</h5>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        English
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Italian
                    </label>
                </div>
            </form>
        </div>

        <div id="courses" class="col-sm-8">
            <h3 class="mt-3">Courses</h3>
            <app-course-card *ngFor="let course of courses" [course]="course" [card]="false"></app-course-card>
        </div>
    </div>
</div>